.board-second-wrapper{
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
    .left-nav{
        .board-title{
            background-color: #ffffff3d;
            border-radius: 3px;
            color: #fff;
            cursor: default;
            float: left;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            max-width: 400px;
            overflow: hidden;
            padding-left: 12px;
            padding-right: 12px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
        }
        .board-star{
            background-color: #ffffff3d;
            margin: 0 4px 4px 0;
            border-radius: 3px;
            height: 32px;
            max-width: 400px;
            line-height: 32px;
            padding-top: 3px;
            padding-left: 12px;
            padding-right: 12px;
            float: left;
            &:hover {
                cursor: pointer;
                background-color: #ffffff52;
                cursor: pointer;
                color: #fff;
                transition: .1s ease;
                svg{
                    fill:gold;
                }
            }
            svg{
                transform: scale(0.95);
                fill: white; 
            }
        }
    }
        
        .btn-show-menu{
        background-color: #ffffff3d;
        border-radius: 3px;
        color: #fff;
        cursor: default;
        float: left;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        max-width: 400px;
        overflow: hidden;
        padding-left: 32px;
        padding-right: 12px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        cursor: pointer;
    
    &:hover {
        background-color: #ffffff52;
        cursor: pointer;
        color: #fff;
        transition: .1s ease;
    }
}
    
    .btn-text {
        overflow: hidden;
        padding-right: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    
    .header-icon{
        background-clip: content-box;
        background-origin: content-box;
        color: #fff;
        left: 0;
        padding: 6px;
        position: absolute;
        top: 0;
    }
    
}
    