.task-container{
    border-radius: 3px;
    margin-bottom: 8px;
    border:none;
    background-color:white;
    flex: 1 1 auto;
    justify-content: space-between;
    white-space: pre-wrap;
    word-break: break-word;
    box-shadow: 0 1px 0 #091e4240;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}


.quick-edit-icon {
    color: #42526e;
    background-clip: padding-box;
    background-color: #f4f5f7;
    background-origin: initial;
    border-radius: 3px;
    opacity: .8;
    padding: 2px;
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 80;
}


.task-preview-inside-wrapper {
    display: flex;
    flex-direction: column;
}

.task-preview-inside {
    display: flex;
    justify-content: space-between;
}


/* COVER IN TASKS - PREVIEW */
.task-cover-preview{
    width: 100%;
    max-height: 32px;
    min-height: 32px;
    padding: 0px;
    margin: 0;
    border-width: 2px;
    border-radius: 3px 3px 0 0;
    background-size: cover;
    user-select: none;
    background-repeat: no-repeat;
    position: relative;
}






/* LABELS IN TASKS - PREVIEW */

.task-label-preview {
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    border-radius: 4px;
}

.task-preview-labels {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
    margin: 0px;
    padding: 6px 8px 2px;
    background-color: rgb(255, 255, 255);
}

.task-preview-labels {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
    margin: 0px;
    padding: 6px 8px 2px;
    background-color: rgb(255, 255, 255);
}




.list-card-labels {
    padding: 0px;
}

.task-title{
    padding: 6px 8px 6px;
    display: flex;
    background-color: white;
    
}

.task-add-controls-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    transition: margin 85ms ease-in,height 85ms ease-in;
}

.task-add-controls{
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    width: 81px;
    height: 35px;
    margin: 4px 4px 12px 8px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    background-color: rgb(0, 121, 191);
    color: #ffffff;
    cursor: pointer;
    align-items: center;
}


.task-add-controls-close-btn{
    height: 32px;
    line-height: 32px;
    width: 32px;
    color:#6b778c;
    font-weight: 400;
}