.task-add-closed{
    width: 257px;
    background-color: rgba(240, 240, 240, 0.356);
    margin: 2px 0 8px 8px;
    height: auto;
    min-height: 32px;
    max-height: 38px;
    color: #6b778c;
    font-size: 14px;
    padding: 4px 15px;
    padding-bottom: 0px;
    border-radius: 3px;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    cursor: pointer;
}
.task-add-closed:hover{
    background-color: #091e4214;
    color: #172b4d;
}

.task-add-open {
    height: 100%;
    display: flex;
    margin: 7px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    vertical-align: top;
    white-space: nowrap;
    flex-direction: column;
    background-color: white;
    width: 257px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
}

.task-add-input{
    background-color:rgb(255, 255, 255);
    display: block;
    overflow-y: hidden !important;
}

