// Colors
$clr1: #dff0ea;
$clr2: #ffffff;
$clr3: #5e6c84;
$clr4: #172b4d;


// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 640px;
$details-breakpoint: 784px;
$dashboard-breakpoint: 830px;
$normal-breakpoint: 860px;
$header-breakbpoint: 760px;

// Border radius
$borderRad1: 3px;
$borderRad2: 5px;

$fa-font-path:        "assets/fontawesome/webfonts";